.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}
.item {
  background-color: #0d141f;
  /* background-color: #717377; */
  /* background-color: #7bb8ff; */
  width: fit-content;
  display: flex;
  padding: 8px 12px;
  gap: 12px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  
}
.item .todo-name {
  color: #ffff;
  margin-right: 35px;
}
.edit-delete .button {
  /* font-size: 12px; */
  background: none;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  color: #fff;
  user-select: none;
}
